<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/todo.css">
    <title>Things To Do</title>
    <script src="todo.dart" type="application/dart"></script>
    <script src="packages/browser/dart.js"></script>
</head>
<body ng-app ng-cloak>
  <div class="row-fluid">
    <div class="span6">
      <li ng-repeat="i in items">
        <a ng-click="route(i)">Todo{{i}}</a>
      </li>
    </div>
    <div class="span6 pull-right">
      <ng-view></ng-view>
    </div>
  </div>
</body>
</html>
